{% extends 'base_layout.html' %}



{% block content %}

<div class="about-section">
  <h1 class="txt-white">About Optimal Transportation System</h1>
  <p class="txt-white">Optimal Transport System is a web-app through which users can get their optimal solution while using transportations in Bangladesh. By using this app, user can find information about any transportation which will help them to get to their desired destination with reasonable rate.</p>
  <p class="txt-white">Most of the people living in Dhaka city knows a little about the transportations. Most of them gets confused while travelling across the city. People living outside Dhaka city also face the same problem. While travelling to a new place, most of the people is not aware about choosing the best transportations.</p>
</div>

<h1 style="text-align:center">Our Team</h1>
<div class="row">


  <div class="column">
    <div class="card">
      <img src="/static/RBR.jpg" alt="RBR" style="width:100%;">
      <div class="container">
        <h2>Rashik Buksh Rafsan</h2>
        <p>To be prepared as an expert and administrator. To build up the career in an Organization. To build up the career in the development sector and eventually leading to a challenging in related responsibility especially in a growth-oriented organization and contribution of acquired knowledge skills and experience from international exposure.</p>
        <p>rashikbuksh@gmail.com</p>
        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=rashikbuksh@gmail.com" target="_blank"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/static/Glitch.jpg" alt="Glitch" style="width:100%;">
      <div class="container">
        <h2>Habib Ar Rafiur Fahim</h2>
        <p>I seek to participate as a team member in a dynamic work environment by which I will try to learn new things and contribute in working field. I am determined to sharpen my skills by working hard in this field. As I am interested in coding and developing app and games, I hope to put a positive impact as a software developer.</p>
        <p>fahad.com66.fk@gmail.com</p>
        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=fahad.com66.fk@gmail.com" target="_blank"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/Sadia.png" alt="Sadia" style="width:100%;">
      <div class="container">
        <h2>Sadia Zamal</h2>
        <p>I want to build, service and maintain visually appealing and user friendly websites. My goal is to obtain a position as a web application developer in a fun, fast paced, cutting edge environment that promotes teamwork and integrity and that fosters personal and professional development.
        </p>
        <p>sadiazamal1x@gmail.com</p>
        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=sadiazamal1x@gmail.com" target="_blank"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}