<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog List</title>
    <link rel="shortcut icon" href="favicon.ico">
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/static/css/blog-theme-1.css">

</head>

<body>
     <header class="header text-center">
	    <h1 class="blog-name pt-lg-4 mb-0"><a href="index.html">Blogs</a></h1>

	    <nav class="navbar navbar-expand-lg navbar-dark" >

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">

					<div class="bio mb-3">Write your own Blog<br> or<br> Read Blogs Here<br></div>
					<ul class="social-list list-inline py-3 mx-auto">
			            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="#"><i class="fab fa-codepen fa-fw"></i></a></li>
			        </ul><!--//social-list-->
			        <hr>
				</div><!--//profile-section-->

				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item active">
					    <a class="nav-link" href="/main/"><i class="fas fa-home fa-fw mr-2"></i>Home</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="{% url 'articles:createBlog' %}"><i class="fas fa-bookmark fa-fw mr-2"></i>Blog Post</a>
					</li>
				</ul>

				<div class="my-2 my-md-3">
				    <a class="btn btn-primary" href="{% url 'articles:contact' %}" target="_blank">Get in Touch</a>
				</div>
			</div>
		</nav>
    </header>
    <div class="main-wrapper">
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">
			    <div class="item mb-5">
				    <div class="media">
					    <div class="media-body">
							{% for blogs in blogs %}
						    <h3 class="title mb-1"><a href="{% url 'articles:blogPage' blogs.id %}">{{ blogs.Title }}</a></h3>
						    <div class="meta mb-1"><span class="date">{{ blogs.date }}</span></div>
						    <div class="intro">Click on read more to see blog</div>
						    <a class="more-link" href="{% url 'articles:blogPage' blogs.id %}">Read more &rarr;</a>
							{% endfor %}
					    </div><!--//media-body-->
				    </div><!--//media-->
			    </div><!--//item-->
		    </div>
	    </section>

    </div><!--//main-wrapper-->
    <!-- Javascript -->
    <script src="/static/plugins/jquery-3.3.1.min.js"></script>
    <script src="/static/plugins/popper.min.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>

