
{% extends 'base_layout.html' %}


{% block content %}

<br />
<br />
<br />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="row">
<div class="main-search col-sm-3">
<div class="dropdowndiv" align="center">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    th{
        cursor: pointer;
        color:#fff;
            }
</style>

<div class="row">
	<div class="col">
		<div class="box">
            <h3>Start Location</h3>
		<select class="dropdown" id="search-input">
  <option value="Khilgaon">Khilgaon</option>
  <option value="Gabtoli">Gabtoli</option>
  <option value="Technical">Technical</option>
  <option value="Ansar Camp">Ansar Camp</option>
  <option value="Mirpur-1">Mirpur-1</option>
  <option value="Sony Cinema Hall">Sony Cinema Hall</option>
  <option value="Mirpur-2">Mirpur-2</option>
  <option value="Mirpur-10">Mirpur-10</option>
  <option value="Mirpur-11">Mirpur-11</option>
  <option value="Purobi">Purobi</option>
  <option value="Calshi">Calshi</option>
  <option value="ECB Square">ECB Square</option>
  <option value="MES">MES</option>
  <option value="Sheura">Sheura</option>
  <option value="Kuril">Kuril</option>
  <option value="Boshundhara">Boshundhara</option>
  <option value="Norda">Norda</option>
  <option value="Notun Bazar">Notun Bazar</option>
  <option value="Badda">Badda</option>
  <option value="Rampura Bridge">Rampura Bridge</option>
  <option value="Banasree">Banasree</option>
  <option value="Demra">Demra</option>
  <option value="Uttara">Uttara</option>
  <option value="Airport">Airport</option>
  <option value="Mohakhali">Mohakhali</option>
			</select>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		<div class="box">
            <h3>Destination</h3>
		<select class="dropdown" id="search-input2">
  <option value="Khilgaon">Khilgaon</option>
  <option value="Gabtoli">Gabtoli</option>
  <option value="Technical">Technical</option>
  <option value="Ansar Camp">Ansar Camp</option>
  <option value="Mirpur-1">Mirpur-1</option>
  <option value="Sony Cinema Hall">Sony Cinema Hall</option>
  <option value="Mirpur-2">Mirpur-2</option>
  <option value="Mirpur-10">Mirpur-10</option>
  <option value="Mirpur-11">Mirpur-11</option>
  <option value="Purobi">Purobi</option>
  <option value="Calshi">Calshi</option>
  <option value="ECB Square">ECB Square</option>
  <option value="MES">MES</option>
  <option value="Sheura">Sheura</option>
  <option value="Kuril">Kuril</option>
  <option value="Boshundhara">Boshundhara</option>
  <option value="Norda">Norda</option>
  <option value="Notun Bazar">Notun Bazar</option>
  <option value="Badda">Badda</option>
  <option value="Rampura Bridge">Rampura Bridge</option>
  <option value="Banasree">Banasree</option>
  <option value="Demra">Demra</option>
  <option value="Uttara">Uttara</option>
  <option value="Airport">Airport</option>
            <option value="Mohakhali">Mohakhali</option>
			</select>

		</div>
        <br>
        <Button id="submitt" onclick="marge()" class="button-ticket button2-ticket"> Submit </Button>
        <br>
	</div>
</div>
<br>

<table class="table table-striped">
    <tr  class="bg-info">
        <th  class="bg-info" data-colname="name" data-order="desc">Name &#9650</th>
        <th  data-colname="link" data-order="desc">Bus Page &#9650</th>
    </tr>
    <tbody id="myTable">

    </tbody>
</table>

</div>
<script>
var myArray = [
    {'name':'Akash', 'splace':'Kadamtali - Keraniganj - Babubazar - Naya Bazar - Golap Shah Mazar - GPO - Paltan - Kakrail - Shantinagar - Malibagh Moor - Mouchak - Malibagh Railgate - Hazipara - Rampura Bazar - Rampura Bridge - Merul - Badda - Shahjadpur - Bashtola - Notun Bazar - Nadda - Bashundhara - Jamuna Future Park - Kuril Bishwa Road - Khilkhet - Airport - Jashimuddin (Uttara) - Rajlakshmi - Azampur - House Building - Abdullahpur - Tongi', 'eplace':'Kadamtali - Keraniganj - Babubazar - Naya Bazar - Golap Shah Mazar - GPO - Paltan - Kakrail - Shantinagar - Malibagh Moor - Mouchak - Malibagh Railgate - Hazipara - Rampura Bazar - Rampura Bridge - Merul - Badda - Shahjadpur - Bashtola - Notun Bazar - Nadda - Bashundhara - Jamuna Future Park - Kuril Bishwa Road - Khilkhet - Airport - Jashimuddin (Uttara) - Rajlakshmi - Azampur - House Building - Abdullahpur - Tongi','link':'Bus_Akash'},
    {'name':'Balaka', 'splace':'Sayedabad - Manik Nagar - TT Para - Kamalapur - Malibagh Moor - Mouchak - Mogbazar - Satrasta - Nabisco - Mohakhali - Chairman Bari - Banani - Kakali - Staff Road - MES - Shewra - Kuril Bishwa Road - Khilkhet - Airport - Jashimuddin (Uttara) - Rajlakshmi - Azampur - House Building - Abdullahpur - Tongi - Station Road - Mill Gate - Board Bazar - Gazipur Bypass - Gazipur Chourasta', 'eplace':'Sayedabad - Manik Nagar - TT Para - Kamalapur - Malibagh Moor - Mouchak - Mogbazar - Satrasta - Nabisco - Mohakhali - Chairman Bari - Banani - Kakali - Staff Road - MES - Shewra - Kuril Bishwa Road - Khilkhet - Airport - Jashimuddin (Uttara) - Rajlakshmi - Azampur - House Building - Abdullahpur - Tongi - Station Road - Mill Gate - Board Bazar - Gazipur Bypass - Gazipur Chourasta','link':'bolaka'},
    {'name':'Alif', 'splace':'Japan Garden City - Ring Road - Adabor - Shyamoli - Shishu Mela - Agargaon - Zia Uddyan - Bijoy Sarani - Old Airport - Jahangir Gate - Mohakhali - Chairman Bari - Sainik Club - kakali - Banani - Staff Road - MES - Shewra - Kuril Bishwa Road - Khilkhet - Airport - Jashimuddin (Uttara) - Rajlakshmi - Azampur - House Building - Abdullahpur', 'eplace':'Japan Garden City - Ring Road - Adabor - Shyamoli - Shishu Mela - Agargaon - Zia Uddyan - Bijoy Sarani - Old Airport - Jahangir Gate - Mohakhali - Chairman Bari - Sainik Club - kakali - Banani - Staff Road - MES - Shewra - Kuril Bishwa Road - Khilkhet - Airport - Jashimuddin (Uttara) - Rajlakshmi - Azampur - House Building - Abdullahpur','link':'Bus_Alif'},
    {'name':'BRTC', 'splace':'Mohammadpur - Asad Gate - Khamar Bari - Farmgate - Jahangir Gate - Mohakhali - Wireless - Gulshan 1 - Badda Link Road - Uttar Badda - Shahjadpur - Bashtola - Notun Bazar - Nadda - Bashundhara - Jamuna Future Park - Kuril Bishwa Road', 'eplace':'Mohammadpur - Asad Gate - Khamar Bari - Farmgate - Jahangir Gate - Mohakhali - Wireless - Gulshan 1 - Badda Link Road - Uttar Badda - Shahjadpur - Bashtola - Notun Bazar - Nadda - Bashundhara - Jamuna Future Park - Kuril Bishwa Road','link':'Bus_BRTC'},
    {'name':'Raida', 'splace':'Postagola - Dholairpar - Jatrabari - Janapath Moor - Sayedabad - Mugdapara - Bashabo - Khilgaon - Malibagh Railgate - Rampura Bazar - Rampura Bridge - Merul - Badda - Uttar Badda - Bashtola - Notun Bazar - Nadda - Bashundhara - Jamuna Future Park - Kuril Chourasta - Kuril Bishwa Road - Khilkhet - Airport - Jashimuddin (Uttara) - Rajlakshmi - Azampur - House Building - Diabari', 'eplace':'Postagola - Dholairpar - Jatrabari - Janapath Moor - Sayedabad - Mugdapara - Bashabo - Khilgaon - Malibagh Railgate - Rampura Bazar - Rampura Bridge - Merul - Badda - Uttar Badda - Bashtola - Notun Bazar - Nadda - Bashundhara - Jamuna Future Park - Kuril Chourasta - Kuril Bishwa Road - Khilkhet - Airport - Jashimuddin (Uttara) - Rajlakshmi - Azampur - House Building - Diabari','link':'Bus_Raida'},
    {'name':'VIP', 'splace':'Azimpur - Nilkhet - New Market - City College - Kalabagan - Banani - Kakali - MES - Shewra - Kuril Bishwa Road - Khilkhet - Airport - Jashimuddin (Uttara) - Rajlakshmi - Azampur - House Building - Abdullahpur - Tongi - Station Road - Mill Gate - Board Bazar - Gazipur Chourasta', 'eplace':'Azimpur - Nilkhet - New Market - City College - Kalabagan - Banani - Kakali - MES - Shewra - Kuril Bishwa Road - Khilkhet - Airport - Jashimuddin (Uttara) - Rajlakshmi - Azampur - House Building - Abdullahpur - Tongi - Station Road - Mill Gate - Board Bazar - Gazipur Chourasta','link':'Bus_VIP'},
]




$('#search-input').on('keyup', function(){
		var value = $('#search-input').val()
		//console.log('Value:', value)
		//var data= searchTable(value, myArray)
		//buildTable(data)
		marge()
})

$('#search-input2').on('keyup', function(){
		var value = $(this).val()
		//console.log('Value:', value)
		//var data= searchTable(value, myArray)
		//buildTable(data)
		marge()
})

$('#submitt').on('keyup', function(){
		var value = $(this).val()
		//console.log('Value:', value)
		//var data= searchTable(value, myArray)
		//buildTable(data)
		marge()
})

function marge(){
	var value = $('#search-input').val()
	var value2 = $('#search-input2').val()
	var value3 = $('#submitt').val()
	console.log('Value:', value)
	console.log('Value:', value2)
	var data= searchTable(value, value2, myArray)
	buildTable(data)


}

buildTable(myArray)

function searchTable(value, value2, data){
	var filteredData = []

	for(var i=0; i< data.length; i++){
		value = value.toLowerCase()
		value2 = value2.toLowerCase()
		var splace = data[i].splace.toLowerCase()
		var eplace = data[i].eplace.toLowerCase()

		if(splace.includes(value)&& eplace.includes(value2)){
			filteredData.push(data[i])
		}
	}

	return filteredData
}


 $('th').on('click', function(){
     var column = $(this).data('colname')
     var order = $(this).data('order')
     var text = $(this).html()
     text = text.substring(0, text.length - 1);



     if (order == 'desc'){
        myArray = myArray.sort((a, b) => a[column] > b[column] ? 1 : -1)
        $(this).data("order","asc");
        text += '&#9660'
     }else{
        myArray = myArray.sort((a, b) => a[column] < b[column] ? 1 : -1)
        $(this).data("order","desc");
        text += '&#9650'
     }

    $(this).html(text)
    buildTable(myArray)
    })







function buildTable(data){
    var table = document.getElementById('myTable')
    table.innerHTML = ''
    for (var i = 0; i < data.length; i++){
        var colname = `name-${i}`
        var colage = `splace-${i}`
        var colbirth = `eplace-${i}`
		var link= `link-${i}`
        var row = `<tr>

                        <td>${data[i].name}</td>
                        <td><button class="contact100-form-btn button-ticket button2-ticket"><a href="${data[i].link}">GO</a></td></button>
                   </tr>`
        table.innerHTML += row
    }
}



</script>



    </div>
    <div class="col-sm-4 transport--">
<br>
<br>
<h1 align="center">Transportations</h1>

<button class="accordion"><h1>Buses</h1></button>
<div class="panel">
    <a href="{% url 'articles:bolaka' %}"><h2>Balaka</h2></a>
    <a href="{% url 'articles:Bus_Akash' %}"><h2>Akash</h2></a>
    <a href="{% url 'articles:Bus_Alif' %}"><h2>Alif</h2></a>
    <a href="{% url 'articles:Bus_Raida' %}"><h2>Raida</h2></a>
    <a href="{% url 'articles:Bus_VIP' %}"><h2>VIP</h2></a>
    <a href="{% url 'articles:Bus_BRTC' %}"><h2>BRTC</h2></a>
    <a href="{% url 'articles:Bus_Green_Dhaka' %}"><h2>Green Dhaka</h2></a>
    <a href="{% url 'articles:Bus_Anabil' %}"><h2>Anabil</h2></a>
    <a href="{% url 'articles:Bus_Skyline' %}"><h2>Skyline</h2></a>
    <a href="{% url 'articles:Bus_Supravat' %}"><h2>Supravat</h2></a>
</div>

<button class="accordion"><h1>Trains</h1></button>
<div class="panel">
    <a href="{% url 'articles:Train_Suborno_Express' %}"><h2>Suborno Express</h2></a>
    <a href="{% url 'articles:Train_Mahanagar_Godhuli' %}"><h2>Mahanagar Godhuli</h2></a>
    <a href="{% url 'articles:Train_Tista_Express' %}"><h2>Tista Express</h2></a>
    <a href="{% url 'articles:Train_Ekota_Express' %}"><h2>Ekota Express</h2></a>
    <a href="{% url 'articles:Train_Chitra_Express' %}"><h2>Chitra Express</h2></a>
</div>

<button class="accordion"><h1>Air Plane</h1></button>
<div class="panel">
    <a href="{% url 'articles:Air_Biman_Bangladesh' %}"><h2>Biman Bangladesh Airlines</h2></a>
    <a href="{% url 'articles:Air_US_Bangla' %}"><h2>US-Bangla Airlines</h2></a>
    <a href="{% url 'articles:Air_Novoair' %}"><h2>Novoair</h2></a>
</div>
        </div>
    </div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

<style>
.box select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
.box select option {
  padding: 30px;
}
.main-search{
position: relative;
  right: 0px;
  left: 1200px;
  width: 300px;
  padding: 10px;
  background-color: white;
  padding: 20px 20px 20px 20px;
}
.button-ticket {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button2-ticket:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.transport--{
position: absolute;
  left: auto;
  width: 700px;
  height: 120px;
padding: 10px 20px 20px 100px;
}

</style>
{% endblock %}