
{% extends 'base_layout.html' %}


{% block content %}
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/header/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/header/css/plugins.css">
    <link rel="stylesheet" href="/static/header/style.css">

    <!-- Modernizer js -->
    <script src="/static/header/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

    <body>
       <div class="entire-content">
       
       <!--------Navigation starts-------->
            <!-- Header -->
            <header class="header header-style transparent-header sticky-header">
                <div class="container d-none d-lg-block">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header-inner">
                                <div class="logo">
                                    <a href="/main/">
                                        <img src="/static/header/img/logo1.png" alt="logo" height="70px" width="150px">
                                    </a>
                                </div>
                                <nav class="menu">
                                    <ul>
                                        <li>
                                            <a href="index.html">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">About</a>
                                        </li>
                                        <li>
                                            <a href="#">Services</a>
                                        </li>
                                        <li class="cr-dropdown">
                                            <a href="javascript:;">Pages</a>
                                            <ul>
                                                <li class="cr-sub-dropdown">
                                                    <a href="javascript:;">Home</a>
                                                    <ul>
                                                        <li>
                                                            <a href="index.html">Home</a>
                                                        </li>
                                                        <li>
                                                            <a href="single.html">Single</a>
                                                        </li>
                                                        <li>
                                                            <a href="contact.html">Contact</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="cr-sub-dropdown">
                                                    <a href="javascript:;">Single</a>
                                                    <ul>
                                                        <li>
                                                            <a href="index.html">Home</a>
                                                        </li>
                                                        <li>
                                                            <a href="single.html">Single</a>
                                                        </li>
                                                        <li>
                                                            <a href="contact.html">Contact</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="cr-sub-dropdown">
                                                    <a href="javascript:;">Contact</a>
                                                    <ul>
                                                        <li>
                                                            <a href="index.html">Home</a>
                                                        </li>
                                                        <li>
                                                            <a href="single.html">Single</a>
                                                        </li>
                                                        <li>
                                                            <a href="contact.html">Contact</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">FAQ</a>
                                                </li>
                                                <li>
                                                    <a href="#">Team</a>
                                                </li>
                                                <li>
                                                    <a href="#">Videos</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="cr-megamenu">
                                            <a href="javascript:;">Features</a>
                                            <div class="cr-megamenu-wrap">
    
                                                <!-- Megamenu Single Block -->
                                                <div class="cr-megamenu-single">
                                                    <h6>Widget Header</h6>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Awesome Features</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Clean Interface</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Responsive Design</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Pixel Perfect Design</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">W3C Validate</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--// Megamenu Single Block -->
    
                                                <!-- Megamenu Single Block -->
                                                <div class="cr-megamenu-single">
                                                    <h6>Widget Header</h6>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Awesome Features</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Clean Interface</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Responsive Design</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Pixel Perfect Design</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">W3C Validate</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--// Megamenu Single Block -->
    
                                                <!-- Megamenu Single Block -->
                                                <div class="cr-megamenu-single">
                                                    <h6>Widget Header</h6>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Awesome Features</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Clean Interface</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Responsive Design</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Pixel Perfect Design</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">W3C Validate</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--// Megamenu Single Block -->
    
                                                <!-- Megamenu Single Block -->
                                                <div class="cr-megamenu-single">
                                                    <h6>Widget Header</h6>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Awesome Features</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Clean Interface</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Responsive Design</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Pixel Perfect Design</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">W3C Validate</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--// Megamenu Single Block -->
                                                
                                            </div>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                                <a href="{% url 'articles:user_profile' %}" class="cr-btn cr-btn-sm">
                                    <span>{{ user.username }}</span>
                                </a>
                                    <a><form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                            {% csrf_token %}
                                <button type="submit" class="cr-btn cr-btn-sm">Logout</button>
                                </form>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Mobile Menu -->
                <div class="mobile-menu-wrapper">
                    <div class="container d-block d-lg-none">
                        <div class="mobile-menu clearfix">
                            <a class="mobile-logo" href="index.html">
                                <img src="images/logo.png" alt="mobile logo">
                            </a>
                            <a href="" class="cr-btn cr-btn-sm">
                                <span>Buy now</span>
                            </a>
                        </div>
                    </div>
                </div>
    
                <!-- //Mobile Menu -->           
    
            </header>
            <!-- //Header -->
        <!--------Navigation Ends-------->
       
         <!---------------Slider section starts------------->
         <section class="slider text-center" id="slider">              
             <div class="slider-overlay">
                 <div class="slider-content">
                     <div class="icons">
                         <!-- <i class="fa fa-apple"></i>
                         <i class="fa fa-android"></i>
                         <i class="fa fa-windows"></i> -->
                     </div>
                     <br>
                     <div class="text"></div>
                     <div class="cta-div">
                         <a href="{% url 'articles:contact' %}" class="btn1">CONTACT US!</a>
                         <a href="" class="btn2"> Explore !</a>
                     </div>
                     <br><br>
                     <div class="social-networks">
                         <a href="" class="fa fa-facebook"></a>
                         <a href="" class="fa fa-twitter"></a>
                         <a href="" class="fa fa-windows"></a>
                         <a href="" class="fa fa-reddit"></a>
                         <a href="" class="fa fa-linkedin"></a>
                         <a href="" class="fa fa-cog"></a>
                     </div>                      
                 </div>                  
             </div>       
         </section>
        
        <!---------------Slider section ends------------->
        
        <!---------------Services Markups------------->
         
         <br> 
         <section class="service-area" id="services">
             <div class="container">
                 <div class="row">
                     <div class="col-xs-12">
                         <div class="section-title text-center wow zoomIn" data-wow-duration=".5s" data-wow-delay=".5s">
                             <h2><b>SERVICES</b></h2>
                             <p>
                                 You can ask the question regarding the issues we will<br>
                                 solve that together for sure
                             </p>
                         </div>
                     </div>                      
                 </div><br><br>
                 <div class="row wow bounceInUp"  data-wow-duration="1.2s" data-wow-delay="1.2s">
                     <div class="col-md-4 col-sm-6 col-xs-12">
                         <div class="service-wrap text-center">
                             <div class="service-icon">
                                 <i class="fa fa-leaf"></i>
                             </div>
                             <h3><a href="hotel_page" style="color:black">Hotels</a></h3>
                                    <p>
                                 Here you can find your desired hotel based on user reviews.
                             </p>
                         </div>
                         
                     </div>
                        
                          <div class="col-md-4 col-sm-6 col-xs-12">
                         <div class="service-wrap text-center">
                             <div class="service-icon">
                                 <i class="fa fa-laptop"></i>
                             </div>
                             <h3><a href="reservation_new" style="color:black">Reservation</a></h3>
                             <p>
                                 Here you can reserve your desired hotels based on user reviews.
                             </p>
                         </div>
                         
                     </div> 
                        
                        <div class="col-md-4 col-sm-6 col-xs-12">
                         <div class="service-wrap text-center">
                             <div class="service-icon">
                                 <i class="fa fa-heart"></i>
                             </div>
                             <h3><a href="resturantList" style="color:black">Restaurants</a></h3>
                             <p>
                                Here you can find your desired restaurants based on user reviews.
                             </p>
                         </div>
                         
                     </div>
                        
                        <div class="col-md-4 col-sm-6 col-xs-12">
                         <div class="service-wrap text-center">
                             <div class="service-icon">
                                 <i class="fa fa-cogs"></i>
                             </div>
                             <h3>24/7 Support</h3>
                             <p>
                                 Feel free to chat with our bot.
                             </p>
                             <br>
                         </div>
                         
                     </div>
                        
                        <div class="col-md-4 col-sm-6 col-xs-12">
                         <div class="service-wrap text-center">
                             <div class="service-icon">
                                 <i class="fa fa-diamond"></i>
                             </div>
                             <h3>Conversation</h3>
                             <p>
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet
                             </p>
                         </div>
                         
                     </div>                        
                        
                        <div class="col-md-4 col-sm-6 col-xs-12">
                         <div class="service-wrap text-center">
                             <div class="service-icon">
                                 <i class="fa fa-cog"></i>
                             </div>
                             <h3><a href="placelist" style="color:black">Places</a></h3>
                             <p>
                                 Here you can find your desired places based on user reviews.
                             </p>
                         </div>
                         
                     </div>

                     <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service-wrap text-center">
                            <div class="service-icon">
                                <i class="fa fa-heart"></i>
                            </div>
                            <h3><a href="cultural_food" style="color:black">Cultural Food</a></h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>

                    </div>
                     
                 </div>                 
                 
             </div>             
                         
         </section>
       
      <!------Services Markups end-------->
      
      <!--------Works Markups-------->
      
      <section class="work wow bounceInUp"  data-wow-duration=".5s" data-wow-delay=".5s" id="works"><br><br><br><br><br>
          <div class="container-fluid">
              <div class="row no-gutters">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                      <div class="img-wrapper">
                          <a href="/static/home/img/11.jpg" title="image description will be here">
                              <img src="/static/home/img/11.jpg" class="img-responsive">
                          </a>
                      </div>
                      
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">
                       <div class="img-wrapper">
                          <a href="/static/home/img/8.jpg" title="image description will be here">
                              <img src="/static/home/img/8.jpg" class="img-responsive">
                          </a>
                      </div>
                  </div>
                  
                  <div class="col-md-3 col-sm-3 col-xs-3">
                       <div class="img-wrapper">
                          <a href="/static/home/img/10.jpg" title="image description will be here">
                              <img src="/static/home/img/10.jpg" class="img-responsive">
                          </a>
                      </div>
                  </div>
                  
                  <div class="col-md-3 col-sm-3 col-xs-3">
                       <div class="img-wrapper">
                          <a href="/static/home/img/11.jpg" title="image description will be here">
                              <img src="/static/home/img/11.jpg" class="img-responsive">
                          </a>
                      </div>
                  </div>
                     
                     
                     <div class="col-md-3 col-sm-3 col-xs-3">
                      <div class="img-wrapper">
                          <a href="/static/home/img/12.jpg" title="image description will be here">
                              <img src="/static/home/img/12.jpg" class="img-responsive">
                          </a>
                      </div>
                      
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">
                       <div class="img-wrapper">
                          <a href="/static/home/img/7.jpg" title="image description will be here">
                              <img src="/static/home/img/7.jpg" class="img-responsive">
                          </a>
                      </div>
                  </div>
                  
                  <div class="col-md-3 col-sm-3 col-xs-3">
                       <div class="img-wrapper">
                          <a href="/static/home/img/14.jpg" title="image description will be here">
                              <img src="/static/home/img/14.jpg" class="img-responsive">
                          </a>
                      </div>
                  </div>
                  
                  <div class="col-md-3 col-sm-3 col-xs-3">
                       <div class="img-wrapper">
                          <a href="/static/home/img/12.jpg" title="image description will be here">
                              <img src="/static/home/img/12.jpg" class="img-responsive">
                          </a>
                      </div>
                  </div>
              
              </div>
          </div>
   
      </section>
      
    <!--------Works Markup ends------>
    
    <!--------Team Markup----------->
     
      <br><br> 
      <section class="teams" id="team">
          <div class="container text-center wow zoomIn"  data-wow-duration="1s" data-wow-delay="1s">
              <h2><b>MEMBERS</b></h2>
              <p>
                  You can ask the question regarding the issues we will <br>
                  solve that together for sure
              </p>
          </div><br><br> <br>      
          <div class="container wow bounceInLeft"  data-wow-duration="1.2s" data-wow-delay="1.2s">
             <div class="row">
                 <div class="col-md-12">
                     <div id="team-members" class="owl-carousel owl-theme">
                         <!-- <div class="team-member">
                             <img src="/static/home/img/Rafsan.jpg" class="img-responsive">
                             <div class="team-member-info text-center">
                              <h4 class="team-member-name">Harmoine</h4>
                               <h4 class="team-member-designation">ceo</h4>  
                                <ul class="social-list">
                                <li><a href="" class="social-icon icon-gray"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="" class="social-icon icon-gray"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="" class="social-icon icon-gray"><i class="fa fa-google-plus"></i></a></li>
                                </ul> 
                            
                             </div>
                         </div> -->
                            
                            <!-- <div class="team-member">
                             <img src="/static/home/img/team-2.jpg" class="img-responsive">
                             <div class="team-member-info text-center">
                              <h4 class="team-member-name">Nuke Mary</h4>
                               <h4 class="team-member-designation">co-founder</h4>  
                                <ul class="social-list">
                                <li><a href="" class="social-icon icon-gray"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="" class="social-icon icon-gray"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="" class="social-icon icon-gray"><i class="fa fa-google-plus"></i></a></li>
                                </ul> 
                            
                             </div>
                         </div> -->
                            
                            
                            <div class="team-member">
                             <img src="/static/home/img/Fahad.jpg" class="img-responsive">
                             <div class="team-member-info text-center">
                              <h4 class="team-member-name">Fahadul Islam</h4>
                               <h4 class="team-member-designation">Developer</h4>  
                                <ul class="social-list">
                                <li><a href="" class="social-icon icon-gray"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="" class="social-icon icon-gray"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="" class="social-icon icon-gray"><i class="fa fa-google-plus"></i></a></li>
                                </ul> 
                            
                             </div>
                         </div>
                            
                            
                            <div class="team-member">
                             <img src="/static/home/img/Fahim.jpg" class="img-responsive">
                             <div class="team-member-info text-center">
                              <h4 class="team-member-name">Hasib Ar Rafiul Fahim</h4>
                               <h4 class="team-member-designation">Developer</h4>  
                                <ul class="social-list">
                                <li><a href="" class="social-icon icon-gray"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="" class="social-icon icon-gray"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="" class="social-icon icon-gray"><i class="fa fa-google-plus"></i></a></li>
                                </ul> 
                            
                             </div>
                         </div>
                            
                            <div class="team-member">
                             <img src="/static/home/img/Rafsan.jpg" class="img-responsive">
                             <div class="team-member-info text-center">
                              <h4 class="team-member-name">Rashik Buksh Rafsan</h4>
                               <h4 class="team-member-designation">Developer</h4>  
                                <ul class="social-list">
                                <li><a href="" class="social-icon icon-gray"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="" class="social-icon icon-gray"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="" class="social-icon icon-gray"><i class="fa fa-google-plus"></i></a></li>
                                </ul> 
                            
                             </div>
                         </div>
                     </div>
                 </div>
                 
             </div> 
              
          </div>
   
      </section>
      
       <!-------------Testimonial Markups------------->
        <br><br>
        <section class="testimonials" id="testimonial">             
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center wow fadeInDownBig">
                        <br><br>
                        <h2><b>REVIEWS</b></h2>
                        <div class="sub-heading">
                            <div class="border-bottom"></div>
                        </div>                      
                    </div>
                </div>
                <br><br>
                <div class="row wow fadeInDownBig">
                    <div class="col-sm-12">
                        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel"><br>
                           <ol class="carousel-indicators">
                               <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
                               <li data-target="#carousel-testimonials" data-slide-to="1" ></li>
                               <li data-target="#carousel-testimonials" data-slide-to="2" ></li>
                            
                           </ol> 
                           
                           <div class="carousel-inner">
                               <div class="item active text-center">
                                   <img src="/static/home/img/team-3.jpg" class="center-block">
                                   <h2>Daniel Grover</h2>
                                   <h4>Sr Engineer</h4>
                                   <p>                                        
                                       who is such a man as does not want to get succees life <br>is not meant 
                                       For work only keep in !
                                   </p>
                               </div> 
                                  
                                  <div class="item text-center">
                                   <img src="/static/home/img/fiveteam.jpg" class="center-block">
                                   <h2>Daniel Grover</h2>
                                   <h4>Sr Engineer</h4>
                                   <p>                                        
                                       who is such a man as does not want to get succees life <br>is not meant 
                                       For work only keep in !
                                   </p>
                               </div>
                                  
                                    <div class="item text-center">
                                   <img src="/static/home/img/oneteam.jpg" class="center-block">
                                   <h2>Daniel Grover</h2>
                                   <h4>Sr Engineer</h4>
                                   <p>                                        
                                        who is such a man as does not want to get succees life <br>is not meant 
                                       For work only keep in !
                                   </p>
                               </div>
                               
                           </div>
              
                        </div>
               
                    </div>
           
                </div>
   
            </div>
    
        </section>
     
         <!-------------Testimonial Markups End------------->
         
         
         <!---------------FAQ Markups start------------->

       
       <br><br><br>
       <section class="faq">
           <div class="container">
               <div class="row">
                   <div class="col-md-12 text-center wow zoomIn" data-wow-duration=".4s" data-wow-delay=".4s">
                       <h2><b>GENERAL FAQs</b></h2>
                       <div class="sub-heading">
                           <p>
                               You can ask the question regarding the issues we will<br>
                               solve that together for sure
                           </p>
                           
                       </div>
                   </div>
             
               </div>
           </div><br><br><br>
           <div class="container wow bounceInLeft" data-wow-duration=".6s" data-wow-delay=".6s">
               <div class="row">                    
                   <div class="col-md-7">
                       <div class="panel-group" id="accordian">
                           <div class="panel panel-default">
                             <div class="panel-heading" id="headingOne">
                                 <h4 class="panel-title">
                                     <a href="#collapseOne" data-toggle="collapse" data-parent="#accordian">Have you any questions ?</a>
                                 </h4>
                                </div>  
                               <div id="collapseOne" class="panel-collapse collapse in" aria-labelledby="headingone">
                                   <div class="panel-body">
                                       <p>
                                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                       </p>                                        
                                   </div>                                    
                               </div>                               
                           </div>                           
                                                        
                           <div class="panel panel-default">
                             <div class="panel-heading" id="headingTwo">
                                 <h4 class="panel-title">
                                     <a href="#collapseTwo" class="collapsed" data-toggle="collapse" data-parent="#accordian">Are you getting it exactly ?</a>
                                 </h4>
                                </div>  
                               <div id="collapseTwo" class="panel-collapse collapse" aria-labelledby="headingTwo">
                                   <div class="panel-body">
                                       <p>
                                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                       </p>                                        
                                   </div>                                    
                               </div>
                                                           
                           </div>
                            
                            
                            <div class="panel panel-default">
                             <div class="panel-heading" id="headingThree">
                                 <h4 class="panel-title">
                                     <a href="#collapseThree" class="collapsed" data-toggle="collapse" data-parent="#accordian">Is it clearly explained ?</a>
                                 </h4>
                                </div>  
                               <div id="collapseThree" class="panel-collapse collapse" aria-labelledby="headingThree">
                                   <div class="panel-body">
                                       <p>
                                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                       </p>                                        
                                   </div>                                    
                               </div>
                                                           
                           </div>
                         
                            <div class="panel panel-default">
                             <div class="panel-heading" id="headingfour">
                                 <h4 class="panel-title">
                                     <a href="#collapsefour" class="collapsed" data-toggle="collapse" data-parent="#accordian"> Course is deserving anything ?</a>
                                 </h4>
                                </div>  
                               <div id="collapsefour" class="panel-collapse collapse" aria-labelledby="headingfour">
                                   <div class="panel-body">
                                       <p>
                                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, landit posuere tortor aliquam vitae. Curabitur molestie eros.
                                       </p>                                        
                                   </div>                                    
                               </div>
                                                           
                           </div>                     
                                           
                   </div>
                   </div>
                   
                   <div class="freeimage wow bounceInRight" data-wow-duration=".8s" data-wow-delay=".8s">
                       <div class="col-md-2 col-md-offset-1">
                           <img src="/static/home/img/3-front.png">
                       </div>
                   
                   </div>
                   
                 
               </div>
           </div>
     
       </section>
       
       <!------------ FAQ Markups End------------->       
       
       
       <!------------Video Markup Start------------->        
       
       <section class="video-area wow bounceInUp" id="video">
           <div id="color_overlay" class="color-overlay">
               <div class="video-container">
                   <div id="player"></div>
                      <div class="video-mask"></div>
                  </div>
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12 text-center">
                              <div class="video-mask">                                   
                                  <a href="https://www.youtube.com/watch?v=hVU9Jh_4gT4" class="play" target="_blank" ></a>
                              </div>
                          </div>
                          
                      </div>
                  </div>
     
           </div>
      
       </section>
       
       <!------------Video Markup Ends------------->        
         
             
       <!------------Blog Markup Starts------------->  
       
       
       <section class="latest-news-area" id="latest">
           <div class="container">
               <div class="row">
                   <div class="col-xs-12">
                       <div class="section-title text-center wow zoomIn" data-wow-duration=".2s" data-wow-delay=".2s">
                           <h2><b>RECENT BLOGS</b></h2>
                           <div class="sub-heading">
                               You can ask the question regarding the issues we will<br>
                               solve that together for sure
                           </div>
                         
                       </div>
                   </div>                    
               </div><br><br> 
               <div class="row">
                   <div class="news-active">
                      <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".4s">
                          <div class="latest-news-wrap">
                              <div class="news-img">
                                  <img  src="/static/home/img/13.jpg"  class="img-responsive">
                                  <div class="deat">
                                      <span>31</span>
                                      <span>Dec</span>                                     
                                  </div>                                
                              </div>
                              <div class="news-content">
                                  <i class="fa fa-facebook"></i>
                                  <i class="fa fa-twitter"></i>
                                  <i class="fa fa-linkedin"></i>
                                  <i class="fa fa-youtube"></i>
                                  <i class="fa fa-whatsapp"></i>
                                  
                                  <p>
                                      who is such a man as does not want to get success life is not meant for work life is gone healht is gone wealht is gone if charcter is gone then get it everything is gone life is very precious you know if know then great.Life is not meant for work okey                                       
                                      
                                  </p><br>
                                  <a href="">Read more..</a>
                                                                    
                              </div>                         
                              </div>                       
                             </div>
                             
                              
                        <div class="col-md-4 col-sm-6 col-xs-12 wow slideInUp" data-wow-duration=".8s" data-wow-delay=".8s">
                          <div class="latest-news-wrap">
                              <div class="news-img">
                                  <img  src="/static/home/img/13.jpg"  class="img-responsive">
                                  <div class="deat">
                                      <span>31</span>
                                      <span>Dec</span>                                     
                                  </div>                                
                              </div>
                              <div class="news-content">
                                  <i class="fa fa-facebook"></i>
                                  <i class="fa fa-twitter"></i>
                                  <i class="fa fa-linkedin"></i>
                                  <i class="fa fa-youtube"></i>
                                  <i class="fa fa-whatsapp"></i>
                                  
                                  <p>
                                      who is such a man as does not want to get success life is not meant for work life is gone healht is gone wealht is gone if charcter is gone then get it everything is gone life is very precious you know if know then great.Life is not meant for work okey                                       
                                      
                                  </p><br>
                                  <a href="">Read more..</a>
                                                                    
                              </div>                         
                              </div>                       
                             </div> 
                             
                             
                             <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-duration=".6s" data-wow-delay=".6s">
                             <div class="latest-news-wrap">
                              <div class="news-img">
                                  <img  src="/static/home/img/13.jpg"  class="img-responsive">
                                  <div class="deat">
                                      <span>31</span>
                                      <span>Dec</span>                                     
                                  </div>                                
                              </div>
                              <div class="news-content">
                                  <i class="fa fa-facebook"></i>
                                  <i class="fa fa-twitter"></i>
                                  <i class="fa fa-linkedin"></i>
                                  <i class="fa fa-youtube"></i>
                                  <i class="fa fa-whatsapp"></i>
                                  
                                  <p>
                                      who is such a man as does not want to get success life is not meant for work life is gone healht is gone wealht is gone if charcter is gone then get it everything is gone life is very precious you know if know then great.Life is not meant for work okey                                       
                                      
                                  </p><br>
                                  <a href="">Read more..</a>
                                                                    
                              </div>                         
                              </div>                       
                             </div>                    
                           </div>         
                          </div>      
                          </div>
    
                   </section>
       
       
       <!------------Counter stats Markup Starts-------------> 
        
       
       <section class="stat " id="stats">
           <div class="content-box">
               <br><br>
               <div class="container">
                   <div class="row text-center">
                       <div class="col-md-3 wow fadeInLeft" data-wow-duration=".3s" data-wow-delay=".3s"> 
                           <div class="stat-items">
                               <i class="fa fa-tv"></i>
                               <h2><span class="counter text-center ">3200</span> <span>+</span></h2>
                               <p>VIEWS</p>
                           </div>
                           
                       </div>
                          
                          <div class="col-md-3 wow fadeInLeft" data-wow-duration=".6s" data-wow-delay=".6s"> 
                           <div class="stat-items">
                               <i class="fa fa-android"></i>
                               <h2><span class="counter text-center">3987</span> <span>+</span></h2>
                               <p>ANDROID USER</p>
                           </div>
                           
                       </div>
                          
                          <div class="col-md-3 wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".9s"> 
                           <div class="stat-items">
                               <i class="fa fa-apple"></i>
                               <h2><span class="counter text-center">7289</span> <span>+</span></h2>
                               <p>INTERNATIONALLY</p>
                           </div>
                           
                       </div>
                          
                          
                          <div class="col-md-3 wow fadeInLeft"  data-wow-duration="1.2s" data-wow-delay="1.2s"> 
                           <div class="stat-items">
                               <i class="fa fa-windows"></i>
                               <h2><span class="counter text-center">3934</span> <span>+</span></h2>
                               <p>WINDOW SUPPORTS</p>
                           </div>
                           
                       </div>
                   </div>
                   
               </div>
               
           </div>          
                       
       </section>
      
      <!------------From Markup Starts-------------> 
      
      <section class="contact-area" id="contact_area">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6 col-md-offset-3 text-center">                      
                  </div>
                </div><br><br><br><br>
                <div class="row wow fadeInUp">
                    <div class="col-md-8 col-md-offset-2">
                      
                    </div>
                    
                </div>
                <div class="row">                     
                    <div class="contact-infos">
                        <div class="col-md-4 text-center">
                            <div class="contact-item wow fadeInLeft" data-wow-duration=".3s" data-wow-delay=".3s">
                                <span class="contact-icon"><i class="fa fa-map-marker"></i></span>
                                <p class="contact-detail">
                                    68 Dohava Strees, Lorem isput Spusts<br>
                                     New York, United State                                     
                                </p>
                            </div>                             
                        </div>
                           
                             <div class="col-md-4 text-center">
                            <div class="contact-item wow fadeInLeft" data-wow-duration=".6s" data-wow-delay=".6s">
                                <span class="contact-icon"><i class="fa fa-envelope"></i></span>
                                <p class="contact-detail">
                                    info@geo.com <br>
                                    support@geo.com                                  
                                </p>
                            </div>                             
                        </div> 
                           
                           
                           <div class="col-md-4 text-center">
                            <div class="contact-item wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".9s">
                                <span class="contact-icon"><i class="fa fa-phone"></i></span>
                                <p class="contact-detail">
                                    +123-456-7890 - Central Office<br>
                                     +123-456-7890 - Fax                                  
                                </p>
                            </div>                             
                        </div>                         
                    </div>              
                </div>  
          </div>        
        </section>
      <!-----------Markup for Maps----------------->
      
      <section class="maps wow fadeInUp" id="map">
      
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.4105952611053!2d90.42337781534494!3d23.76838889400504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c78bc678693d%3A0x3e87f7b866c0e38!2sEast%20West%20University!5e0!3m2!1sen!2sbd!4v1638436581584!5m2!1sen!2sbd" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      
       </section>
       
      
      <!-------------Footer markups--------------->
      
      <footer class="footer">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 text-center">
                      <div class="social-icon">
                        <a href=""><i class="fa fa-facebook wow fadeInLeft" data-wow-duration=".3s" data-wow-delay=".3s" ></i></a>  
                        <a href=""><i class="fa fa-twitter wow fadeInLeft" data-wow-duration=".6s" data-wow-delay=".6s"></i></a>  
                        <a href=""><i class="fa fa-google-plus wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".9s"></i></a>  
                        <a href=""><i class="fa fa-pinterest wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1.2s"></i></a>  
                        <a href=""><i class="fa fa-rss wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1.5s" ></i></a>  
                        <a href=""><i class="fa fa-linkedin wow fadeInLeft" data-wow-duration="1.8s" data-wow-delay="1.8s" ></i></a>  
                        <a href=""><i class="fa fa-vimeo-square wow fadeInLeft" data-wow-duration="2.1s" data-wow-delay="2.1s"></i></a>  
                        <a href=""><i class="fa fa-youtube-square wow fadeInLeft" data-wow-duration="2.3s" data-wow-delay="2.3s" ></i></a>  
                        <a href=""><i class="fa fa-dribbble wow fadeInLeft" data-wow-duration="2.6s" data-wow-delay="2.6s"></i></a>                          
                      </div> <br>
                      <div class="copyright">
                          <p class="footerlogo">
                              &copy; <img alt="" src="/static/home/img/logo1.png">
                          </p>
                          <div class="bordernow"></div>
                      </div>
                                           
                                                                                     
                   </div>
                  
                  
                  
              </div>
          </div>
      
      </footer>
      
 
        <script src="/static/home/js/jquery.ripples-min.js" type="text/javascript"></script>  
        <script src="/static/home/js/typed.min.js" type="text/javascript"></script>
        <script src="/static/home/js/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="/static/home/js/jquery.counterup.min.js" type="text/javascript"></script>           
        <script src="/static/home/js/main.js" type="text/javascript"></script>
        <script src="/static/home/js/smoothscroll.js" type="text/javascript"></script>
        <script src="/static/home/js/jquery.easing.1.3.js" type="text/javascript"></script>
         <script src="/static/home/js/wow.min.js" type="text/javascript"></script>

    </body>


{% endblock %}