<html>
<body>
<form action="/get-text" method="POST">
    <a href="/main/room" value="Pan_Pacific_Sonargoan">Pan Pacific Sonargoan<input name="hotel-name" value="Pan_Pacific_Sonargoan"></a>
    <a href="#" value="Radisson_Blu">Radisson Blu</a>
    <a href="#" value="Hotel_De_Meridian">Hotel De Meridian</a>
    <a href="#" value="Grand_Plaza_Hotel">Grand Plaza Hotel</a>
    <a href="#" value="Empyrean_Hotel">Empyrean Hotel</a>
    <a href="#" value="The_Raintree_Dhaka">The Raintree Dhaka</a>

</form>

</body>
</html>