<html>
<body>
<form method="POST" action="/main/room/">
    {% csrf_token %}
    <button type="submit" name="hotel-name" value="Pan_Pacific_Sonargoan">Pan Pacific Sonargoan</button><br>
    <button type="submit" name="hotel-name" value="Radisson_Blu">Radisson Blu</button><br>
    <button type="submit" name="hotel-name" value="Hotel_De_Meridian">Hotel De Meridian</button><br>
    <button type="submit" name="hotel-name" value="Grand_Plaza_Hotel">Grand Plaza Hotel</button><br>
    <button type="submit" name="hotel-name" value="Empyrean_Hotel">Empyrean Hotel</button><br>
    <button type="submit" name="hotel-name" value="The_Raintree_Dhaka">The Raintree Dhaka</button><br>
</form>

</body>
</html>