<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Places</title>
</head>
<body>
        <h2>Rashik Buksh Rafsan</h2>
        <p>To be prepared as an expert and administrator. To build up the career in an Organization. To build up the career in the development sector and eventually leading to a challenging in related responsibility especially in a growth-oriented organization and contribution of acquired knowledge skills and experience from international exposure.</p>
        <p>rashikbuksh@gmail.com</p>
</body>
</html>