<html>
<head>
<style>

.rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;

  height: 150px;
}

* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
body {
  background-image: url('/static/place_back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
</head>
<body>
  {% for place_show in place_show %}
  {% ifequal place_show.slug place_name %}
				<div class="flex justify-between">
					   <div class="mb-5">
						   <h1 class="text-3xl font-medium mb-px">
							   <a href="../placelist"><img src="/static/home/img/back.png" height="30px" width="30px"></a>
							   {{ place_show.name }}</h1>
					   </div>
				 </div>
				<div class="-mt-5 container max-w-full h-75vh flex mb-20" xmlns:rooms="http://www.w3.org/1999/xhtml" xmlns:rooms="http://www.w3.org/1999/xhtml">
					<div class="h-full w-1/2 bg-center bg-cover" style="background-image:url({{roomModel.first_photo}})"></div>
					<div class="h-full w-1/2 flex flex-wrap">
						<div class="clearfix">
				  <div class="img-container">
				  <img src="{{ place_show.place_Img1.url }}" alt="Error" style="width:100%" height="250px" width="446">
				  </div>
				  <div class="img-container">
				  <img src="{{ place_show.place_Img2.url }}" alt="Error" style="width:100%" height="250px" width="446">
				  </div>
				  <div class="img-container">
				  <img src="{{ place_show.place_Img3.url }}" alt="Error" style="width:100%" height="250px" width="446">
				  </div>
				</div>

					</div>
				</div>

					<div class="w-1/2">
						<div class="border-section">
							<h5 class="font-medium text-lg mb-5">Description</h5>
							<p>{{ place_show.description }}</p>
						</div>
						<div class="border-section">
							<h5 class="font-medium text-lg mb-5">Route</h5>
                            <p>{{ place_show.route }}</p>
						</div>
						<div class="border-section">
							<h5 class="font-medium text-lg mb-5">Link</h5>
                            <a href="{{ place_show.map_link }}">Map link</a>
						</div>
					</div>
        {% endifequal %}
{% endfor %}


<h1 align="center">Reviews </h1>
  </div>
                        {% for placeReview in placeReview %}
                        {% ifequal placeReview.placeName place_name %}
						<table align="center" border="0" cellspacing="0" cellpadding="10" class="rcorners2" >
							<tr >
								<td width="200">
                                    {% for profile in profile %}
                                    {% ifequal profile.user placeReview.user %}
                                    {% if profile.user_image %}
                                    <img src="{{ profile.user_image.url }}" alt="Error" height="100px" width="100px">
                                    {% endif %}
                                    {% if not profile.user_image %}
                                    <img src="/static/user.png" height="150px" width="150px" >
                                    {% endif %}
                                    {% endifequal %}
                                    {% endfor %}
                                </td>
									<td width="500" >
									<h1> {{ placeReview.name }} </h1>
										<h4> Rating Given: {{placeReview.rating }}/10</h4>
                                	<h4> {{ placeReview.review }}</h4>
							</td>
								<td VALIGN=TOP width="60" style="text-align:center">
									{% ifequal user placeReview.user %}
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="{% url 'articles:deleteplaceReview' placeReview.id %}">
                                  <img src="/static/delete-circle-icon.png" height="30px" width="30px">
										{% endifequal %}
                                </a>
								</td>
                                <br>
							</tr>
						</table>
                        {% endifequal %}

                        {% endfor %}

                    </div>

					<h3 align="center"><a href="../placeReview"><img src="/static/writeareview.png"></a></h3>
</body>
</html>