<html>
<body>

 <h1>Reviews: </h1>
  </div>
                        {% for placeReview in placeReview %}
                        {% ifequal placeReview.placeName 'Cox-Bazar' %}
                                <h3>{{ resturantReview.name }}
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {% ifequal user placeReview.user %}
                                  </div>
                                    <a href="{% url 'articles:deleteplaceReview' placeReview.id %}">
                                  delete
                                </a>
                                {% endifequal %}</h3>
                                <h4>{{ placeReview.review }}</h4>
                                <h4>Rating: {{placeReview.rating }}</h4>
                                <h4>{{ placeReview.date }}</h4>


                                <br>
                            </div>
                        {% endifequal %}
                        {% endfor %}


                    </div>
</body>
</html>