<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Place Search Page</title>
</head>
<body>
<form method="POST" action="/main/place/">
{% csrf_token %}
    {% if placesearch %}
        <h1>you searched for {{ placesearch }}</h1>
        {% for place in place %}
    {{ place.name }}
    <button style="padding-left:10px;" type="submit" name="hotel-name" value="{{ place.slug }}" class="accommodation-list__button--12985 hoverState"><img src="/static/advance.png" width="50" height="50"></button>
        {% endfor %}
    {% endif %}
<p></p>
</form>
</body>
</html>