<html>
<body>

 <h1>Reviews: </h1>
  </div>
  {% for place_show in place_show %}
  {% ifequal place_show.slug 'Cox_Bazar' %}
    <h3>{{ place_show.name }}</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <p>{{ place_show.description }}</p>
    <p>{{ place_show.route }}</p>
 <p>{{ place_show.map_link }}</p>

 <iframe src="{{ place_show.map_link }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    <img src="{{ place_show.place_Img1.url }}" alt="Error" style="width:100%">
    <img src="{{ place_show.place_Img2.url }}" alt="Error" style="width:100%">
    <img src="{{ place_show.place_Img3.url }}" alt="Error" style="width:100%">
    <br>

 </div>
 {% endifequal %}
 {% endfor %}
 </div>
</body>
</html>