<html>
<body>

 <h1>Reviews: </h1>
  </div>
                        {% for resturantReview in resturantReview %}
                        {% ifequal resturantReview.resturantName 'Sultans Dine' %}
                                <h3>{{ resturantReview.name }}
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {% ifequal user resturantReview.user %}
                                  </div>
                             <a href="{% url 'articles:deleteResturantReview' resturantReview.id %}">
                                  delete
                                </a>
                                {% endifequal %}</h3>
                                <h4>{{ resturantReview.review }}</h4>
                                <h4>Rating: {{resturantReview.rating }}</h4>
                                <h4>{{ resturantReview.date }}</h4>


                                <br>
                            </div>
                        {% endifequal %}
                        {% endfor %}


                    </div>
</body>
</html>