<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>User Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">

    <div class="main-body">

          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/main/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>

		<div class="row">

            <div class="col-md-12 mb-3">
				<div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                      {% for profile in profile %}

                            {% if user == profile.user %}
                    {% if profile.user_image %}
                            <img src="{{ profile.user_image.url }}" alt="Error" height="100px" width="100px">
                         {% endif %}
                                    {% if not profile.user_image %}
                                    <img src="/static/user.png" alt="Error" height="100px" width="100px">
                                    {% endif %}
                    <div class="mt-3">
                      <h4>{{ profile.user_name }}</h4>
                      <p class="text-secondary mb-1">{{ profile.bio }}</p>
                      <p class="text-secondary mb-1">{{ profile.user_address }}</p>
                      <p class="text-secondary mb-1">{{ profile.user }}</p>
                      <p class="text-muted font-size-sm">{{ profile.user_phone }}</p>
                      <button class="btn btn-primary">Call</button>
                        <a href="{% url 'articles:sent_message' %}"><button class="btn btn-outline-primary">Message</button></a>
                    </div>
                      {% endif %}
                {% endfor %}
                  </div>
                </div>
				</div>
			</div>

        </div>

</div>
</div>
</body>
</html>