<html>
<body>

  </div>

                        {% for profile in profile %}
                            {% if user == profile.user %}
                                    {% if profile.user_image %}
                                    <img src="{{ profile.user_image.url }}" alt="Error" height="100px" width="100px">
                                    {% endif %}
                                    {% if not profile.user_image %}
                                    <img src="/static/user.png" alt="Error" height="100px" width="100px">
                                    {% endif %}
									<h1> {{ profile.user_name }} </h1>
									<h1> {{ profile.user_phone }} </h1>
									<h1> {{ profile.user_address }} </h1>
									<h1> {{ profile.bio }} </h1>


                                    Update your profile:

                                     <form method="post" autocomplete="on" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        Enter your new name:
                                        <input type="text" name="user_name">

                                        Enter your new phone number:
                                        <input type="text" name="phone_number">

                                        Enter your new address:
                                        <input type="text" name="address">

                                        Enter your new bio:
                                        <input type="text" name="bio">

                                         Enter new image:
                                         <input type="file" id="image" name="image">

                                         <input type="hidden" name="primaryKey" value='{{ profile.id }}'>

                                        <button type="submit">
                                            Submit
                                        </button>
                                     </form>


                      {% endif %}
                        {% endfor %}
                        {% if booli == 'NoData' %}
                               <a href="{% url 'articles:create_profile' %}">Create Profile </a>
                        {% endif %}
                    </div>



</body>
</html>