@media screen and (max-width:403px)
{
    
    .slider .text
    {
        display: none;
    }
    
    .slider .typed-cursor
    {
        display: none;
    }
    
    .slider a.btn1, a.btn2
    {
        display: block;
        width: 100%;
        
    }
}

@media screen and (max-width:295px)
{
    
    .service-wrap p
    {
        font-size: 13px;
    }
    
}