body{

    background-repeat: no-repeat;
    background-size: auto;
    color: #000000;
}

body *{
color: #000000;
    font-family: Ubuntu;
}

h1,h2,h3,h4,h5{

    font-weight: normal;
    margin: 0;
}

a,a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}
nav{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 5px 0px 5px;
  text-decoration: none;
  font-size: 15px;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
button{
background-color: #333;
color: white;
}
.tm-section {
  margin-right: 75px;
  max-width: 100%;
}
.tm-textbox {
  padding: 45px;
  font-size: 1.1rem;
  color: #c5c7c6;
  line-height: 1.8;
}
.tm-text-blue {
  color: #00ccfc;
}
.dropdown{
background-color: #B2BEB5;
color: black;

}
.dropdowndiv{
 line-height: 200%;
}

/*homepage extra*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}


.centerb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border: 3px solid green;
}
