<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/style-signup.css">
</head>
<body>

    <div class="main" style="background-image: url('/static/signup-bg.png');">

        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">SIGN UP</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}


                            <input type="text" name="username" value="{{data.username}}" placeholder="Username"/> <br>
                            <input type="text" name="email" value="{{data.email}}" placeholder="Email address"/> <br>
                            <input type="password" name="password" value="{{data.password}}" placeholder="Password"/> <br>
                            <input type="password" name="password2" value="{{data.password2}}" placeholder="Repeat Password"/> <br>


                            <div class="form-group form-button">
								<div class="right">
            {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
            </div>
        {% endfor %}
        </div>

                                {% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %}


                                <input type="submit" name="signup_submit" id="signup" class="form-submit" value="Sign up"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/static/signup-image.jpg" alt="sing up image"></figure>
                        <a href="../login/" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

</body>
</html>